.env
.env.local
*.env
__pycache__/
.~lock.*
~$*
shakable/results/distilbert/checkpoints/best_model.pt
shakable/results/bert/checkpoints/best_model.pt
shakable/results/roberta/checkpoints/best_model.pt
shakable/results/distilbert_cv/fold_1/checkpoints/best_model.pt
shakable/results/distilbert_cv/fold_2/checkpoints/best_model.pt
shakable/results/distilbert_cv/fold_4/checkpoints/best_model.pt
shakable/results/distilbert_cv/fold_3/checkpoints/best_model.pt
shakable/results/distilbert_cv/fold_0/checkpoints/best_model.pt

.DS_Store
**/.DS_Store
results/bert/checkpoints/best_model.pt
results/roberta/checkpoints/best_model.pt
results/distilbert/checkpoints/best_model.pt
shakeable/results/distilbert_cv/fold_1/checkpoints/best_model.pt
shakeable/results/distilbert_cv/fold_4/checkpoints/best_model.pt
shakeable/results/distilbert_cv/fold_3/checkpoints/best_model.pt
shakeable/results/distilbert_cv/fold_2/checkpoints/best_model.pt
shakeable/results/distilbert_cv/fold_0/checkpoints/best_model.pt
MCQ/merge_mcq.py
shakable/results/bert_mcq_cv/fold_0/checkpoints/best_model.pt
shakable/results/bert_mcq_cv/fold_1/checkpoints/best_model.pt
shakable/results/bert_mcq_cv/fold_3/checkpoints/best_model.pt
shakable/results/distilbert_mcq_cv/fold_0/checkpoints/best_model.pt
shakable/results/distilbert_mcq_cv/fold_2/checkpoints/best_model.pt
shakable/results/roberta_mcq_cv/fold_0/checkpoints/best_model.pt
shakable/results/distilbert_mcq_cv/fold_4/checkpoints/best_model.pt
shakable/results/roberta_mcq_cv/fold_1/checkpoints/best_model.pt
shakable/results/roberta_mcq_cv/fold_3/checkpoints/best_model.pt
shakable/results/roberta_mcq_cv/fold_2/checkpoints/best_model.pt
shakable/results/distilbert_mcq_cv/fold_3/checkpoints/best_model.pt
shakable/results/roberta_mcq_cv/fold_4/checkpoints/best_model.pt
shakable/results/distilbert_mcq_cv/fold_1/checkpoints/best_model.pt
shakable/results/bert_mcq_cv/fold_4/checkpoints/best_model.pt
shakable/results/bert_mcq_cv/fold_2/checkpoints/best_model.pt
